* {
  margin: 0;
  padding: 0;
  font-family: roboto, 'sans-serif';
  box-sizing: border-box;
}

/* Start Header Section */
header {
  border-bottom: 1px solid rgb(225, 225, 225);
}
.navbar__logo {
  border: 1px solid #000;
}

.navbar__toggler {
  border: 1px solid #000;
}

.navbar__collapse {
  justify-content: space-between;
}

/* End Header Section */

/* Start Home Page Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.hero__content {
  width: 500px;
}

.search__form input {
  margin: 0 !important;
  border-radius: 0 !important;
}

.search__form button {
  border-radius: 0 !important;
}

/* End Home Page Section */

/* Start Signup Page */
.signup {
  padding: 60px 20px;
  background-color: #f8f9fa;
}
/* End Signup Page */

/* Start Signup Page */
.login {
  padding: 0 20px;
  padding-top: 45px;
  background-color: #f8f9fa;
}

@media (min-width: 992px) {
  .login {
    padding: 90px 0;
  }
}
/* End Signup Page */

/* Start Footer Section */
footer {
  border-top: 1px solid rgb(225, 225, 225);
}
/* End Footer Section */
