* {
  margin: 0;
  padding: 0;
  font-family: roboto, 'sans-serif';
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
}

/* Start Header Section */
header {
  border-bottom: 1px solid rgb(225, 225, 225);
}
.navbar__logo {
  border: 1px solid #000;
}

.navbar__toggler {
  border: 1px solid #000;
}

.navbar__collapse {
  justify-content: space-between;
}

.navbar__cart__link {
  position: relative;
}

.navbar__cart__icon {
  font-size: 18px;
}

.navbar__cart__number {
  position: absolute;
  top: 25px;
  right: -0px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 2px 7px;
  color: #fff;
  background-color: red;
  font-size: 13px;
  font-weight: bold;
}

/* End Header Section */

/* Start Home Page Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.hero__content {
  padding: 0 40px;
  text-align: center;
  width: 500px;
}

.search__form input {
  margin: 0 !important;
  border-radius: 0 !important;
}

.search__form button {
  border-radius: 0 !important;
  padding: 13px 25px;
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding: 0;
    text-align: start;
  }
}
/* Books Section */
.books {
  padding: 50px 0;
}

.books__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.books__title h2 {
  font-family: 'Slabo 27px', serif;
}

.books__title i {
  order: 2;
}

.author__name {
  margin-bottom: 7px !important;
  font-size: 14px;
}

.book__stars {
  font-size: 12px;
}

.book__price {
  margin-top: 7px !important;
  font-size: 18px;
  font-weight: bold;
}

.btn__details {
  font-weight: 500;
  letter-spacing: 1px;
  color: #444;
  border: 1px solid rgb(213, 210, 210);
  background-color: #f1f4f7;
}

@media screen and (min-width: 768px) {
  .books {
    padding: 100px 0;
  }
}

@media screen and (min-width: 992px) {
  .books__title {
    margin-bottom: 70px;
  }
}

.top__selling {
  padding: 50px 0;
  background-color: #f1f4f7;
  font-family: 'Slabo 27px', serif;
}

.top__selling__content {
  margin-top: 25px;
}

.top__selling__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top__selling__item {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-right: 40px;
  gap: 20px;
  background-color: #fff;
}

.top__selling__icon {
  border: 2px solid#eee;
  padding: 5px 7px;
  border-radius: 50%;
}

.top__selling__item img {
  width: 120px;
  height: 120px;
  border: 1px solid #eee;
}

@media screen and (min-width: 768px) {
  .top__selling {
    padding: 100px 0;
  }

  .top__selling__content {
    margin-top: 35px;
  }

  .top__selling__container {
    flex-direction: row;
    gap: 40px;
  }
}

.newsletter {
  padding: 70px 0;
  background-color: #fff;
  font-family: 'Slabo 27px', serif;
}

.newsletter__form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.newsletter__form input {
  border-radius: 0 !important;
  width: 400px;
  padding: 12px;
  border: 1px solid rgb(216, 216, 216);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #444;
  outline: none;
}

.newsletter__form button {
  border-radius: 0 !important;
  border: 1px solid #eee;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  background-color: green;
}

@media screen and (min-width: 768px) {
  .newsletter {
    padding: 140px 0;
  }
}

/* End Home Page Section */

/* Start Single Book Page */
.single__book {
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .single__book {
    padding: 100px 0;
  }
}

/* End Single Book Page */

/* Start Carts Page */
.carts {
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .carts {
    padding: 100px 0;
  }
}
/* End Carts Page */

/* Start Signup Page */
.signup {
  padding: 35px 20px;
  background-color: #f8f9fa;
}
/* End Signup Page */

/* Start Signup Page */
.login {
  padding: 0 20px;
  padding-top: 25px;
  background-color: #f8f9fa;
}

@media (min-width: 992px) {
  .login {
    padding: 90px 0;
  }
}
/* End Signup Page */

/* Start Login Success Section */
.login-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-success__content {
  padding: 40px;
  border: 2px solid #eee;
  text-align: center;
}

.login-success__content i {
  margin-bottom: 20px;
  color: green;
  font-size: 30px;
}

.login-success__content a {
  display: inline-block;
  margin-top: 11px;
  border: 2px solid green;
  padding: 8px 40px;
  color: #fff;
  background-color: green;
}

.login-success__content a:hover {
  color: green;
  background-color: #fff;
}

/* End Login Success Section */

/* Start Footer Section */
footer {
  background-color: #f1f4f7;
}
/* End Footer Section */
