* {
  margin: 0;
  padding: 0;
  font-family: roboto, 'sans-serif';
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
}

/* Start Header Section */
header {
  border-bottom: 1px solid rgb(225, 225, 225);
}
.navbar__logo {
  border: 1px solid #000;
}

.navbar__toggler {
  border: 1px solid #000;
}

.navbar__collapse {
  justify-content: space-between;
}

/* End Header Section */

/* Start Home Page Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.hero__content {
  width: 500px;
}

.search__form input {
  margin: 0 !important;
  border-radius: 0 !important;
}

.search__form button {
  border-radius: 0 !important;
}
/* Books Section */
.books {
  padding: 50px 0;
}

.books__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.books__title h2 {
  font-family: 'Slabo 27px', serif;
}

.books__title i {
  order: 2;
}

.author__name {
  margin-bottom: 7px !important;
}

.book__price {
  margin-top: 7px !important;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .books {
    padding: 100px 0;
  }
}

@media screen and (min-width: 992px) {
  .books__title {
    margin-bottom: 70px;
  }
}

/* End Home Page Section */

/* Start Single Book Page */
.single__book {
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .single__book {
    padding: 100px 0;
  }
}

/* End Single Book Page */

/* Start Signup Page */
.signup {
  padding: 35px 20px;
  background-color: #f8f9fa;
}
/* End Signup Page */

/* Start Signup Page */
.login {
  padding: 0 20px;
  padding-top: 25px;
  background-color: #f8f9fa;
}

@media (min-width: 992px) {
  .login {
    padding: 90px 0;
  }
}
/* End Signup Page */

/* Start Login Success Section */
.login-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-success__content {
  padding: 40px;
  border: 2px solid #eee;
  text-align: center;
}

.login-success__content i {
  margin-bottom: 20px;
  color: green;
  font-size: 30px;
}

.login-success__content a {
  display: inline-block;
  margin-top: 11px;
  border: 2px solid green;
  padding: 8px 40px;
  color: #fff;
  background-color: green;
}
.login-success__content a:hover {
  color: green;
  background-color: #fff;
}

/* End Login Success Section */

/* Start Footer Section */
footer {
  border-top: 1px solid rgb(225, 225, 225);
}
/* End Footer Section */
